body{
    background-image: url(./pic.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
    display: flex;
    justify-content: center;
    min-height: 100vh;
    align-items: center;
}
.clock-container{
    backdrop-filter: blur(2px);
    width: 100vw;
    padding: 10px 0;
}
.clock{
    color: white;
    font-size: 6rem;
    font-weight: bold;
    font-family: serif;
    text-shadow: 3px 3px 3px rgba(0,0,0,0.75);
    text-align: center;
}